/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* override floating position of equation numbers*/
span.eqno {
    margin-left: 5px;
    margin-right: -2em;
    float: right;
    font-style: italic;
}
